@import "./variables.scss";

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $primary;
  font-family: $primary-font;
  background: linear-gradient(
    90deg,
    $bg-gradient-1 0%,
    $bg-gradient-2 50%,
    $bg-gradient-3 100%
  );
  padding: 0 15px;
}

.api-errors {
  padding: 0;
  margin-bottom: 10px;
  font-weight: 300;
  list-style-type: none;
  li {
    color: $danger;
  }
}

p {
  word-wrap: break-word;
}
