@import "./variables.scss";

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  &:nth-child(even) {
    background-color: rgba($quaternary, 0.3);
  }
  .title {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 5px;
    font-size: 16px;
    @media screen and (max-width: 767px) {
      flex: 0 0 45%;
      max-width: 45%;
      font-size: 14px;
    }
  }
  .desc {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 5px;
    font-size: 16px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .status {
    flex: 0 0 150px;
    max-width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    @media screen and (max-width: 767px) {
      flex: 0 0 auto;
      max-width: none;
    }
    span {
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 12px;
    }
    &.to-do {
      span {
        background-color: $todo;
      }
    }
    &.completed {
      span {
        background-color: $completed;
      }
    }
    &.in-progress {
      span {
        background-color: $in-progress;
      }
    }
  }
  .actions {
    flex: 0 0 calc(30% - 150px);
    max-width: calc(30% - 150px);
    text-align: right;
    padding: 0 5px;
    @media screen and (max-width: 767px) {
      flex: 0 0 80px;
      max-width: 80px;
    }
    button {
      background-color: transparent;
      border: 0;
      margin: 0 5px;
      font-size: 15px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
      &.edit {
        color: $info;
      }
      &.delete {
        color: $danger;
      }
    }
  }
}
