@import "./variables.scss";

.card {
  background-color: rgba($white, 0.8);
  border: 5px solid rgba($white, 0.3);
  border-radius: 5px;
  padding: 0;
  max-width: 850px;
  margin: auto;
}

.task-item {
  &.header {
    margin: 0;
    background-color: $primary;
    color: $font-color;
  }
}

.no-tasks {
  text-align: center;
  padding: 20px 0;
}
