@import "./variables.scss";

.card {
  background-color: rgba($white, 0.8);
  border: 5px solid rgba($white, 0.3);
  border-radius: 5px;
  padding: 0;
  max-width: 850px;
  margin: auto;
}

.filter-tasks {
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  .form-field {
    display: flex;
    align-items: center;
    label {
      display: inline-block;
      color: $font-color;
      margin-right: 10px;
    }
    select {
      height: 40px;
      width: 100%;
      padding: 0 10px;
      font-size: 16px;
      outline: 0;
      box-shadow: 0;
      border-radius: 5px;
    }
  }
}

.task-item {
  &.header {
    margin: 0;
    background-color: $primary;
    color: $font-color;
  }
}

.no-tasks {
  text-align: center;
  padding: 20px 0;
}
