$primary: #023047;
$secondary: #fb8500;
$tertiary: #219ebc;
$quaternary: #8ecae6;
$quinary: #ffb703;

$black: #000;
$white: #fff;
$font-color: $white;

$completed: #90ff90;
$in-progress: #ffffa9;
$todo: #a5ffff;

$danger: #ff4545;
$info: #2d5861;

$bg-gradient-1: rgb(0, 123, 115);
$bg-gradient-2: rgb(0, 86, 143);
$bg-gradient-3: rgb(28, 47, 145);

$primary-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;
